@import url('https://fonts.googleapis.com/css?family=VT323');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  font-size: 14px;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}
body * {
  box-sizing: border-box;
}
.container {
  height: 100%;
  text-align: center;
  padding: 1em;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.container:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-left: -0.3em;
  vertical-align: middle;
}
.container #theapt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 2s;
  -webkit-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
}
.container .bg-video.reveal {
  opacity: 0.1;
}
.container .vertical-center {
  font-family: 'VT323';
  display: inline-block;
  vertical-align: middle;
  width: 1024px;
  max-width: 100%;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  position: relative;
  z-index: 2;
}
.logo {
  width: 7em;
  height: auto;
  max-width: 100%;
  margin-bottom: 1em;
}
h1 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.25em;
}
h2 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.countdown {
  opacity: 0;
  transition: opacity 0.5s;
}
.countdown.is-countdown {
  opacity: 1;
}
.countdown,
.is-countdown {
  font-size: 2em;
  margin-top: 1em;
  font-family: 'VT323';
}
.countdown-holding span {
  color: #888;
}
.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center;
}
.countdown-section {
  display: inline-block;
  text-align: center;
  margin: 0 0.5em;
}
.countdown-period {
  display: block;
  font-size: 0.5em;
}
.countdown-descr {
  display: block;
  width: 100%;
}
